# Credit: https://github.com/Sleitnick/RbxUtil/blob/main/.gitignore

*.zip
packages/*/Packages
/node_modules
/include
/out
/build
/Packages
/DevPackages
/tests/build
/test/Packages
/test/modules
*.rbxl
*.rbxl.lock
sourcemap.json
.claude/*
!.claude/skills/
.ci/
ref/